body {
	padding: 2em;
}

.hidden {
	display: none;
}

.tasks {
	width: 30%;
}

.tasks p {
	font-size: 2em;
}

.tasks div p {
	font-family: monospace;
	font-size: 2em;
	width: 70%;
	display: inline-block;
	vertical-align: middle;
}

.tasks div div {
	display: inline-block;
	vertical-align: middle;
}

.tasks div .status::before {
	height: 1em;
	width: 1em;
	display: inline-block;
	border: 2px solid;
	border-radius: 0.25em;
	margin-right: 1em;
	font-size: 2em;
	line-height: 0.9;
	text-align: center;
}

.status.checked::before {
	content: "✓";
	cursor: pointer;
}

.status.unchecked::before {
	content: " ";
	cursor: pointer;
}

.tasks div .deleter::before {
	content: "🗑";
	cursor: pointer;
	color: red;
	font-size: 3em;
	float: right;
}

.progress::before {
	content: "◌" !important;
	cursor: default !important;
}

.adder.inactive p {
	color: blue;
}

.adder.inactive {
	cursor: pointer;
}

.adder p {
	font-size: 2em;
	margin-top: 0;
}

.adder div {
	height: 2em;
	border: 2px solid;
	margin-left: 1em;
	padding: 0.7em;
	box-shadow: 2px 2px 5px 0px;
	display: inline-block;
	cursor: pointer;
}

.adder input {
	font-size: 2em;
	border: 2px solid;
	padding: 0.25em;
	display: inline-block;
}

.adder div,input {
	vertical-align: middle;
}

@media screen and (max-width: 128em) {
	.tasks {
		width: 50%;
	}
}

@media screen and (max-width: 64em) {
	.tasks {
		width: 90%;
	}
}
